
<nav class="navbar navbar-light navbar-expand-md bg-light justify-content-center">
    <h3><a href="/" class="navbar-brand d-flex w-50 mr-auto">Recipes Book</a></h3>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
        <ul class="navbar-nav w-100 justify-content-center">
            <li class="nav-item active">
                <a class="nav-link" href="#">Recipe</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Shopping List</a>
            </li>
        </ul>
        <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
            <li class="nav-item dropdown">
                <a href="#" class="dropdown-toggle" role="button">Manage <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">Save Date</a></li>
                    <li><a href="#">Fetch Date</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
